.ukraine-content {
    display: flex;
    flex-direction: column;
}

.ukraine-header {
    font-size: 7rem;
    -webkit-text-stroke: 2px black;
    background-image: url("../../public/Flag_of_Ukraine.png");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ukraine-about {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ukraine-about > p {
    width: 50%;
}